{% form_theme publisherForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h3 class="text-primary text-uppercase text-center">Add new Publisher</h3>
    {{ form (publisherForm) }}
</div>
{% endblock %}   