{% form_theme personForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h3 class="text-primary text-uppercase text-center">Add new Person</h3>
    {{ form (personForm) }}
</div>
{% endblock %}   